

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -45px;
  top: 110px;
}

.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -45px;
  top: 110px;
}
