.shop-section{
    border: 5px solid #000;
    border-radius: 1em;
    margin-top: 2em;
}

.shop-section p{
    margin: 10px;
}

.shop-section h2{
    border-radius: 0;
}

.test{
    background: hotpink;
    opacity: 0.1;
}
