/*

Table of Contents

RESET - normalize.css reference

HEADER - Site name, logo, navigation

SIDEBAR - Submenu, search bar, shortlists

MAIN CONTENT - Articles, search results

FOOTER – Copyright

Color Palette

*/

/* ------------ ‘RESET ------------*/
@import url("normalize.css");
@import url("slicknav.min.css");
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* ------------ ‘HEADER ------------*/
/*global styles*/
html{
    /*background: #F0FFFF;*/
    background-color: #787878;
    background-image: url(../images/asfalt-dark.png);
}
header{
    background: #327F9B/*#E4D87B*/;
    border-bottom: 5px solid #DF2026;
}
body{
    font-family: Montserrat;
    margin: auto;
}
resize{
    height: auto;
    width: 100%;
}
/* header styling */
nav li{
    align-content: center;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding-top: 30px;
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 0 .5em;
}
.nav{
    background-image: url(../images/navicons3.png);
    background-repeat: no-repeat;
    padding-top: 5em;
}
#tagline{
    color: #fff;
    margin: 0;
    padding-bottom: 2.5em;
    text-align: center;
}
.home{
    background-position: 0px 60px;
}
.dangers{
    background-position: -92px 70px;
}
.prev{
    background-position: -196px 60px;
}
.action{
    background-position: -301px 47px;
}
.about{
    background-position: -425px 30px;
}
.resources{
    background-position: -540px 55px;
}
.home:hover{
    background-position: 0px 10px;
}
.dangers:hover{
    background-position: -92px 15px;
}
.prev:hover{
    background-position: -196px 8px;
}
.action:hover{
    background-position: -301px 0;
}
.about:hover{
    background-position: -425px 0;
}
.resources:hover{
    background-position: -540px 8px;
}
.home:hover,
.dangers:hover,
.prev:hover,
.action:hover,
.about:hover,
.resources:hover{
    -webkit-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}
#home-active{
    background-position: 0px 10px;
}
#dangers-active{
    background-position: -92px 15px;
}
#prev-active{
    background-position: -196px 8px;
}
#action-active{
    background-position: -301px 0;
}
#about-active{
    background-position: -425px 0;
}
#resources-active{
    background-position: -540px 8px;
}
nav a:hover,
#home-active,
#about-active,
#action-active,
#dangers-active,
#prev-active,
#resources-active{
    color: #f63;
}
#logo{
    display: block;
    margin: auto;
    padding-top: 5px;
    max-width: 70%;
}
h1,h2{
    color: #FCB118;
    font-family: Anton;
    letter-spacing: .1em;
}
.next-page-link{
    color: #FCB118;
    text-decoration: underline;
}

/* ------------ Main Content ------------*/
main{
    margin: auto;
    max-width: 1400px;
    padding: .5em 5em 3em;
}
h1{
    font-size: 3em;
}
p{
    font-size: 1.25em;
}
a{
    color: #c33;
    text-decoration: none;
}
#owl-demo .item img{
    display: block;
    height: auto;
    width: 100%;
}
.resize{
    height: auto;
    width: 80%;
}
.child_safety{
    width: 90%;
}
.action_columns{
    -moz-column-width: 300px;
    -webkit-column-width: 300px;
    column-width: 300px;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-gap: 2em;
}
.bpa_info{
    border: 1px dotted black;
    padding: 0 2em;
}
.cir_shape{
    clear: both;
    width: 100%;
}
.cir_shape img{
    margin: 2em 1em 2em .5em;
    -webkit-shape-outside: circle();
    shape-outside: circle();
    width: 50%;
}
.cir_shape h3{
    color: #f63;
    font-weight: 100;
    padding-top: 2em;
}
.about_image{
    float: left;
    height: auto;
    width: 50%;
}
.resource_img{
    height: auto;
    width: 100%;
}
.profile{
    background: #fff;
    /*background: #F0FFFF;*/
    border: 1px solid #000;
}
/*Image Carousel Styling*/
#owl-demo{
    margin: auto;
    padding-top: 20px;
}

#slide-area{
    width: 100%;
    background: rgba(0, 0, 0, 0.5)/*#6B6B6B*/;
}

#owl-demo .item img{
    display: block;
    height: auto;
    width: 100%;
}
.owl-theme .owl-controls .owl-buttons div{
    position: absolute;
}

/* -------------------------------- Media Styles ---------------------------------*/
/*tablet styles*/
@media only screen and (max-width:850px){
    /* header styling */
    #menu{
        display: none;
    }
    nav ul li{
        text-align: center;
        width: 100%;
    }
    .js .slicknav_menu{
        display: block;
    }
    .slicknav_menu{
        background-color: #078;
    }
    .slicknav_menu li{
        font-size: 1.5em;
        padding: 0 0 .25em;
    }
    .slicknav_nav a:hover{
        color: #f63;
    }
    #logo{
        height: auto;
        padding-bottom: 0;
    }
    main{
        padding: .5em 1.25em 3em;
    }
    .about_image{
        height: auto;
        width: 80%;
    }
}

/*desktop styles*/
@media only screen and (min-width:851px){
    /* navigation styling */
    .slicknav_menu{
        display: none;
    }

    #home-page-main{
        margin: auto;
        width: 80%;
    }
    #home-page-main img{
        width: 85%;
    }
    #tagline{
        font: 300% Anton;
        line-height: 2em;
    }
    #owl-demo{
        margin: auto;
        padding-top: 20px;
        width: 40%;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev{
        font-size: 3em;
        left: -25%;
        opacity: 1;
        top: 40%;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next{
        font-size: 3em;
        opacity: 1;
        right: -25%;
        top: 40%;
    }
    .profile{
        height: 30em;
        border-radius: 3em;
        padding: 2em;
    }
    .profile h3{
        font-size: 2em;
    }
    .cir_shape{
        padding-bottom: 5em;
    }
    .cir_shape img{
        width: 30%;
    }
    nav{
        background-color: #DF2026;
        border-radius: 255px;
        font-family: Anton;
        font-size: 1.6em;
        font-weight: 400;
        margin: auto;
        margin-top: -80px;
        min-width: 950px;
        text-align: center;
        height: 100px;
        width: 70%;
    }
}

/*tablet styles*/
@media only screen and (min-width: 481px) and (max-width:850px){
    #home-page-main{
        font-size: 85%;
        margin: auto;
        width: 90%;
    }
    #home-page-main img{
        width: 95%;
    }
    #tagline{
        font: 180% Anton;
    }
    #owl-demo{
        margin: auto;
        padding-top: 20px;
        width: 40%;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev{
        font-size: 3em;
        left: -45%;
        opacity: 1;
        top: 40%;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next{
        font-size: 3em;
        opacity: 1;
        right: -45%;
        top: 40%;
    }
    .profile{
        border-radius: 3em;
        height: 32em;
        padding: 2em;
    }
    .cir_shape{
        padding: 2em 0;
    }
}

/*mobile styles*/
@media only screen and (max-width:480px){
    #home-page-main{
        font-size: 75%;
        margin: auto;
        width: 90%;
    }
    #home-page-main h1{
        font-size: 200%;
    }
    #home-page-main img{
        width: 95%;
    }
    #tagline{
        font: 130% Anton;
    }
    #owl-demo{
        margin: auto;
        padding-top: 20px;
        width: 50%;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev{
        font-size: 2em;
        left: -45%;
        opacity: 1;
        top: 40%;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next{
        font-size: 2em;
        opacity: 1;
        right: -45%;
        top: 40%;
    }
    .cir_shape{
        padding: 2em 0;
    }
    .profile{
        border-radius: 3em;
        padding: .5em;
    }
}
