/*

Table of Contents

RESET - normalize.css reference

HEADER - Site name, logo, navigation

SIDEBAR - Submenu, search bar, shortlists

MAIN CONTENT - Articles, search results

FOOTER – Copyright

Color Palette

*/

/* ------------ ‘RESET ------------*/
@import url("normalize.css");
@import url("slicknav.min.css");

/* ------------ ‘HEADER ------------*/
/*global styles*/
/* header styling */
nav ul li{
    display: inline;
    list-style: none;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
/*mobile styles*/
@media only screen and (max-width:480px){
    /* navigation styling */
    #menu{
        display: none;
    }

    nav ul li{
        text-align: center;
        width: 100%;
    }

    .js .slicknav_menu{
        display: block;
    }
}

/*tablet styles*/
@media only screen and (min-width: 481px) and (max-width:768px){
    /* navigation styling */
    .slicknav_menu{
        display: none;
    }
}

/*desktop styles*/
@media only screen and (min-width:769px){
    /* navigation styling */
    .slicknav_menu{
        display: none;
    }
}
/* ------------ ‘MAIN CONTENT------------*/
/*global styles*/

/*mobile styles*/
@media only screen and (max-width:480px){

}

/*tablet styles*/
@media only screen and (min-width: 481px) and (max-width:768px){

}

/*desktop styles*/
@media only screen and (min-width:769px){

}
/* ------------ ‘SIDEBAR ------------*/
/*global styles*/

/*mobile styles*/
@media only screen and (max-width:480px){

}

/*tablet styles*/
@media only screen and (min-width: 481px) and (max-width:768px){

}

/*desktop styles*/
@media only screen and (min-width:769px){

}
/* ------------ ‘FOOTER ------------*/
/*global styles*/

/*mobile styles*/
@media only screen and (max-width:480px){

}

/*tablet styles*/
@media only screen and (min-width: 481px) and (max-width:768px){

}

/*desktop styles*/
@media only screen and (min-width:769px){

}
